<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="deleporter" type="DeleporterCore.Configuration.DeleporterConfigurationSection, Deleporter"/>
  </configSections>
  <deleporter Port="54321"/> <!-- By default, it uses port 38473. The test specifies a different port just to check that it can be done. -->
</configuration>